In [12]:
import sqlite3
conn = sqlite3.connect("MyDatabase.sql3")
curs = conn.cursor()

In [13]:
curs.execute("SELECT * FROM publisher")

In [18]:
curs.execute("""INSERT INTO Publisher (pubid, pubName, pubURL)
                VALUES (10, 'O''Reilly', 'www.ora.com')""")

In [21]:
curs.execute("""INSERT INTO Publisher (pubid, pubName, pubURL)
                VALUES (12, 'New Riders', 'www.newriders.com')""")

In [ ]:
curs.execute("""INSERT INTO Book (BkISBN, BkTitle, BkPubNo, BkYear)
                VALUES('1234444455', 'Python Web Programming', 2, 2002)""")

In [22]:
curs.execute("select * from BOOK")

In [23]:
curs.fetchall()

In [24]:
curs.description

In [ ]:
curs.execute("""INSERT INTO book (bkisbn, bktitle, bkyear, bkpubid)
                 VALUES('1278077807', 'Python Web Programming', 2, 2002)

In [26]:
curs.execute("SELECT bktitle, bkisbn, pubname from publisher")
curs.fetchall()
curs.description

In [28]:
curs.execute("""SELECT BkTitle, BkISBN, PubName
                FROM Book JOIN Publisher ON bkpubid=pubid""")
curs.fetchall()

In [29]:
curs.execute("""INSERT INTO Publisher (pubid, pubName, pubURL)
                VALUES (12, 'New Riders', 'www.pearson.com')""")
curs.fetchall()

In [30]:
curs.execute("""INSERT INTO Publisher (pubid, pubName, pubURL)
                VALUES (12, 'New Riders', 'www.pearson.com')""")
curs.fetchall()